@{
    ViewData["Title"] = "O nas";
}
<h1>@ViewData["Title"]</h1>

<h5>Jesteśmy rodzinną firmą prowadzącą czarter łodzi na mazurach. Lorem ipsum dolor sit amet eleifend consetetur stet et esse lorem. Accusam et et ipsum erat ea amet wisi ipsum consetetur exerci erat tempor rebum dolor ut ea facer invidunt. Sadipscing esse accusam no odio consetetur duo delenit minim tempor et aliquyam dolor tation. Ut aliquyam dolore sed no euismod sed dolore vulputate augue sit erat kasd qui diam ipsum vero lorem. Duo est amet consetetur ea qui dolor ut lorem. Ut sanctus dolore facilisis et amet imperdiet at duis diam vero. Vulputate lorem magna est lorem vel consetetur voluptua erat sadipscing dolor nihil nonumy labore accusam et. At clita ipsum nibh labore dolores sed erat amet sed eirmod in eos stet quis no. Et sit aliquyam erat accusam. Diam diam sit magna tempor lorem sea sea erat hendrerit amet elitr ea et. Tincidunt dolore vero consequat lorem dolor et duo voluptua magna. Lorem ut justo at dolore erat tempor amet rebum duo dolore diam erat lorem et. No lorem eos lorem. Magna sea feugait rebum sanctus eum est nobis labore diam. Lorem tempor ea. Nonumy accusam dolor et et.</h5>
<br/>
<div class="content-center">
    <img class="details-picture" src="https://mazury24.eu/repo/img/galerie/z001-mazury-z-lotu-ptaka-7/mazury-z-lotu-ptaka-7_8263_7.jpg" />
</div>
