
@{
    ViewData["Title"] = "View";
}

<h1>Kontakt</h1>

<h5>Zapraszamy do kontaktu <strong>od poniedziałku do niedzieli</strong> w godzinach <strong>11:00 - 19:00</strong></h5>
<br/>
<h5>Numer telefonu: <strong>+48 123 34 45</strong> <br/>Mail: <strong>rezerwacja@jachty.pl</strong></h5>

<h5>Adres: <br /> 19-411 Mazury <br/>ul. Mazurska 12</h5>
<br/>
<h5>Mapa:</h5>
<img src="https://pic.conadrogach.pl/zdjecia/google-map/podlaskie-mazury.500.png" />

