@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center margin-top homepage">
    <h1 class="display-4">Witamy</h1>
    <h5>Yachty to czarter najnowocześniejszych jachtów w atrakcyjnych cenach. Koniecznie sprawdź zakładkę Oferta!</h5>
</div>
