@model Yachts.Models.Reservation

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń</h1>

<h3>Jesteś pewien ze chcesz usunąć ten rekord?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Numer jachtu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yacht.Id)
        </dd>
        <dt class = "col-sm-2">
            Klient
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer)
        </dd>
        <dt class = "col-sm-2">
            Data od
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            Data do
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
