@model IEnumerable<Yachts.Models.Reservation>

@{
    ViewData["Title"] = "Rezerwacje";
}

<h1>Rezerwacje</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Data od
            </th>
            <th>
                Data do
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
            </tr>
        }
    </tbody>
</table>
